* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  scroll-behavior: smooth;
  /* scroll-padding: 1000px; */
}
:root {
  --primary-color: #0f172a;
  --secondary-color: #3b82f6;
  --secondary-color-rgba: rgba(59, 130, 246, 0.8);
  --font-highlight: rgba(59, 130, 246, 0.8);
  --image-overlay: #1e293b;
}
body {
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #0c1220;
}
a {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
}
a:hover {
  color: var(--secondary-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.2rem;
  box-shadow: 2rem -2rem 1rem rgba(255, 255, 255, 1);
  background-color: var(--primary-color);
  z-index: 1000000000000000000;
}
.logo {
  font: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.middle-section-header {
  display: flex;
  gap: 0.6rem;
}
.contact-cta {
  padding: 0.2rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  color: white;
}
.harmburger-menu {
  font-size: 1rem;
  background: none;
  border-radius: 0.2rem;
  color: white;
  border: none;
}
.button-con3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: none;
  border: 1px solid rgba(15, 23, 42, 0.4);
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem 0.8rem;
}
.contact-cta:hover {
  box-shadow: -2px 10px 60px rgba(255, 255, 255, 0.1);
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet-view a {
  transition: all 0.4s ease;
}
.message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
}
.switch-overlay {
  display: flex;
}
.overlay-msg-box {
  opacity: 0.9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 2rem;
  border: 1px solid white;
  z-index: 100000000000;
  font-size: 2rem;
  color: white;
}

.werty1-uio2 {
  max-width: 2800px;
  margin: 0 auto;
  position: relative;
}
.harmburger-side-menu {
  display: none;
}
.instagram-png {
  width: 16px;
  height: 16px;
}

@media (min-width: 611px) and (max-width: 1023px) {
  .button-con3 {
    display: none;
  }
  .logo {
    font-size: 1.4rem;
  }
  .intro-hd {
    font-size: 4rem;
  }
  .intro-sub {
    font-size: 2.2rem;
  }
  .intro-bd {
    font-size: 1.4rem;
  }
}
@media (min-width: 360px) and (max-width: 610px) {
  .right-section,
  .tablet-view {
    display: none;
  }
}
.tablet-view ul {
  display: flex;
  gap: 2rem;
}
.tablet-view li {
  list-style: none;
}
.tablet-view a {
  text-decoration: none;
  color: var(--font-highlight);
  font-size: 1.4rem;
  font-weight: 400;
}
.header-cta {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 2.5rem;
  color: white;
}
@media (min-width: 1024px) {
  .button-con3 {
    display: none;
  }
  .tablet-view ul {
    gap: 8rem;
  }
  .tablet-view a {
    font-size: 2rem;
  }
  .logo {
    font-size: 3rem;
  }
  .header-cta:hover {
    box-shadow: -2px 10px 60px rgba(59, 130, 246, 0.4);
  }
  .tablet-view a:hover {
    color: white;
  }
}
@media (max-width: 250px) {
  .logo {
    font-size: 0.8rem;
  }
  .harmburger-menu {
    font-size: 0.8rem;
  }
}

@media (max-width: 610px) {
  .harmburger-side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    padding: 2rem 7rem 0 1rem;
    background-color: white;
    z-index: 10000000;
    display: none;
    flex-direction: column;
    margin-top: 7rem;
  }
  .display-side-bar {
    display: flex;
  }
  .harmburger-nav a {
    color: var(--secondary-color);
    font-weight: 600;
  }
  .harmburger-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .harmburger-nav li {
    list-style: none;
  }
}
.logo {
  width: 10rem;
}
