* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #0f172a;
  --secondary-color: #3b82f6;
  --secondary-color-rgba: rgba(59, 130, 246, 0.8);
  --font-highlight: rgba(59, 130, 246, 0.8);
  --image-overlay: #1e293b;
}
body {
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #0c1220;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.2rem;
  box-shadow: 2rem -2rem 1rem rgba(255, 255, 255, 1);
  background-color: var(--primary-color);
}
.logo {
  font: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.logo:hover {
  box-shadow: -2px 10px 60px rgba(255, 255, 255, 0.1);
}
.middle-section-header {
  display: flex;
  gap: 0.6rem;
}
.contact-cta {
  padding: 0.2rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  color: white;
}
.harmburger-menu {
  font-size: 1rem;
  background: none;
  border-radius: 0.2rem;
  color: white;
  border: none;
}
.button-con3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--secondary-color);
  border: 1px solid rgba(15, 23, 42, 0.4);
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem 0.8rem;
}
.button-con3:hover {
  box-shadow: -2px 10px 60px var(--font-highlight);
}
.contact-cta:hover {
  box-shadow: -2px 10px 60px rgba(255, 255, 255, 0.1);
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 611px) and (max-width: 1023px) {
  .button-con3 {
    display: none;
  }
  .logo {
    font-size: 1.4rem;
  }
  .intro-hd {
    font-size: 4rem;
  }
  .intro-sub {
    font-size: 2.2rem;
  }
  .intro-bd {
    font-size: 1.4rem;
  }
}
@media (min-width: 360px) and (max-width: 610px) {
  .right-section,
  .tablet-view {
    display: none;
  }
}
@media (max-width: 359px) {
  body {
    display: none;
  }
}
.tablet-view ul {
  display: flex;
  gap: 2rem;
}
.tablet-view li {
  list-style: none;
}
.tablet-view a {
  text-decoration: none;
  color: var(--font-highlight);
  font-size: 1.4rem;
  font-weight: 400;
}
.header-cta {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 2.5rem;
  color: white;
}
@media (min-width: 1024px) {
  .button-con3 {
    display: none;
  }
  .tablet-view ul {
    gap: 8rem;
  }
  .tablet-view a {
    font-size: 2rem;
  }
  .logo {
    font-size: 3rem;
  }
}
